.message {
	display: none;
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 6;
	.message-wrap {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}
	.message-container {
		position: relative;
		max-height: 100%;
		background-color: $white;
		overflow: scroll;
	}
	.message-close {
		position: absolute;
		padding: 15px;
		font-size: $h5;
		cursor: pointer;
		z-index: 1;
		@include transition(color 0.3s);
	}
	&.message-kw {
		.message-container {
			width: 100%;
			padding: 80px 20px 50px;
			@media screen and (min-width: 1200px) {
				max-width: 1110px;
				padding: 70px 40px 60px;
			}
			.message-close {
				top: 15px;
				right: 5px;
				@media screen and (min-width: 1200px) {
					top: 15px;
					right: 45px;
				}
				&:hover {
					color: $primary;
				}
			}
		}
	}
	&.message-banner {
		.message-container {
			a {
				display: block;
				img {
					display: block;
					&.desktop {
						width: 800px;
						@media screen and (max-width: 899px) {
							display: none;
						}
					}
					&.mobile {
						width: 320px;
						@media screen and (min-width: 900px) {
							display: none;
						}
					}
				}
			}
			.message-close {
				top: 0px;
				right: 0px;
				color: $white;
				&:hover {
					color: $primary;
				}
			}
		}
	}
}

.black {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $black;
	@include opacity(0.4);
	z-index: 5;
	&.opened {
		right: 0;
		bottom: 0;
	}
}
