@import "_mixin";
@import "_variable";
@import "_common";
@import "_container";
@import "_typography";
@import "_font";
@import "_color";
@import "_button";
@import "_embed";
@import "_header";
@import "_navigation";
@import "_message";
@import "_slider";
@import "_form";

main {
	width: 100%;
	.index-page & {
		height: 100%;
		min-height: 100%;
	}
	section {
		&:not(.opening, .jumbotron) {
			.container {
				padding-top: 60px;
				@media screen and (min-width: 1024px) {
					padding-top: 130px;
				}
				.index-page & {
					padding-bottom: 90px;
					@media screen and (min-width: 1024px) {
						padding-bottom: 100px;
					}
				}
				.voting-page & {
					padding-bottom: 40px;
					@media screen and (min-width: 1024px) {
						padding-bottom: 130px;
					}
				}
			}
		}
		&.opening {
			position: relative;
			width: 100%;
			background-color: $yellow-100;
			@include background-image(linear-gradient(top, $yellow-100 0%, $yellow-100 50%, $blue-variant 50%, $blue-variant 100%));
			overflow: hidden;
			.container {
				display: grid;
				align-content: center;
				align-items: center;
				padding-top: 120px;
				padding-bottom: 120px;
			}
			video {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				object-fit: cover;
			}
			.img-block {
				display: table;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				max-width: 400px;
				@media screen and (min-width: 1024px) {
					width: 35%;
				}
			}
			img {
				position: relative;
				width: 100%;
				z-index: 1;
			}
			p {
				position: relative;
				font-size: $h6;
				font-weight: 500;
				z-index: 1;
			}
		}
		&.jumbotron {
			background-image: url('../images/jumbotron@2x.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			.container {
				padding-top: 160px;
				padding-bottom: 90px;
				@media screen and (min-width: 1024px) {
					padding-top: 180px;
					padding-bottom: 100px;
					}
			}
		}
		&.program-issue {
			background: linear-gradient(180deg, #F5D121 0%, #084A95 100%);                
		}
		#issue {
			.col-lg-4 {
				@media screen and (max-width: 767px) {
					padding-left: 0;
					padding-right: 0;
				}
				@media screen and (min-width: 450px) {
					max-width: 380px;
				}
				p {
					display: grid;
					align-content: center;
					@media screen and (min-width: 1024px) {
						height: 1.5em * 5;
					}
					@media screen and (min-width: 1040px) {
						height: 1.5em * 4;
					}
				}
			}
			.bg-white {
				@include border-radius(30px);
			}
			.cloud {
				width: 100%;
				height: 160px;
				@media screen and (min-width: 1024px) {
					width: 260px;
					height: 160px;
				}
				@media screen and (min-width: 1200px) {
					width: 300px;
					height: 140px;
				}
				svg {
					text {
						font-weight: bold;
					}
				}
			}
			.rank {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
		&#subscribe {
			.row {
				@media screen and (max-width: 767px) {
					flex-direction: column-reverse;
				}
			}
			.col-text {
				ul {
					@include list(0, 0, none);
					line-height: 1.67;
					li {
						position: relative;
						padding-left: $fs32;
						&::before {
							@include beforeafter($icon-check, block);
							position: absolute;
							top: 0;
							left: 0;
							color: $primary-variant;
							font-family: '#{$icomoon-font-family}';
							font-size: 0.8745rem;
							line-height: 1.125rem*1.67;
						}
					}
				}
			}
			.col-img {
				img {
					max-width: 400px;
					max-height: 300px;
				}
			}
			.price {
				> * {
					vertical-align: middle;
					@extend %typo-weight;
				}
			}
		}
		&#faq {
			.faq-title {
				@extend %typo-weight;
			}
		}
	}
}

.sponsor-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	@media screen and (min-width: 570px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 40px 30px;
	}
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.sponsor-item {
		display: block;
	}
}

.fix-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	color: $white;
	background-color: $yellow-800;
	z-index: 2;
}
